@using SimpleUrlShorten.HtmlHelperExtensions;

@{
    ViewData["Title"] = "Home";
}
<style>
    .input-validation-error {
        border-color: red;
        background-color: #fee;
    }
</style>

<div class="row" style="padding-top: 30px;">
    <div class="col-md-8">
        <div class="jumbotron">
            <p style="font-weight: bold;">Paste your long URL here:</p>
            <div class="row">
                <div class="col-md-6">
                    <div><span id="valOriginalUrl" class="text-danger"></span></div>
                    @Html.TextBox("OriginalUrl", null, new { @class = "form-control input-sm ", @placeholder = "Original URL" })
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" onclick="shortening()">Shorten URL</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 well" id="output" style="display: none;">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight: bold;">Status:</div>
            <div class="panel-body">
                <span id="shorterURLResult" style="font-weight: bold; font-size: 16px;"></span>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/js/shortURL.js")" type="text/javascript"></script>
    <script type="text/javascript">
        function shortening() {
            // reset status
            $("#output").hide();
            $("#valOriginalUrl").text("");
            $("#OriginalUrl").removeClass("input-validation-error");

            if ($("#OriginalUrl").val() == "") {
                $("#valOriginalUrl").text("Please enter the URL to be shorten");
                $("#OriginalUrl").addClass("input-validation-error");
            }
            else {
                requestShortUrl($("#OriginalUrl").val(), '@Url.Action("ShortenURL", "Home")', '#shorterURLResult', '#output');
            }
        }
    </script>
}